.logo-link {
    display: flex;
    width: 100px;
}

.icon-tiktok {
    cursor: pointer;
}

.header-wrapper {
    width: 100%;
    height: var(--layout-header-height, 60px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    z-index: 999;
    background-color: white;
}

.header-inner {
    --search-border-radius: 92px;
    width: var(--width-layout);
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Search
.search-result {
    width: 450px;
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}

.header-item-search {
    background-color: rgba(22, 24, 35, 0.06);
    width: 450px;
    height: 46px;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1px solid transparent;

    .input-search {
        height: 100%;
        border: none;
        color: rgba(22, 24, 35, 1);
        font-size: 1.6rem;
        outline: none;
        background-color: transparent;
        flex: 1;

        &:not(:placeholder-shown),
        &:hover ~ .search-btn {
            color: rgba(22, 24, 35, 0.75);
        }
    }

    .clear-btn {
        border: none;
        margin-right: 21px;
        position: relative;
    }

    .clear-btn:hover {
        cursor: pointer;
    }

    .spinner {
        position: absolute;
        top: 14px;
        left: 0;
    }

    .search-btn {
        position: relative;
        width: 52px;
        color: rgba(22, 24, 35, 0.34);
        height: 100%;
        font-size: 1.8rem;
        border: none;
        border-top-right-radius: var(--search-border-radius);
        border-bottom-right-radius: var(--search-border-radius);

        &:hover {
            color: rgba(22, 24, 35, 0.75);
            background-color: rgba(24, 24, 35, 0.03);
            cursor: pointer;
        }

        &::after {
            position: absolute;
            display: block;
            content: '';
            top: 0;
            border-left: 1px solid black;
            height: 50%;
            transform: translateY(50%);
        }
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

//Action

.header-item-action-require-login {
    display: flex;
    justify-content: space-evenly;
    // width: 20%;
    .more-btn {
        font-size: 2rem;
        margin-left: 12px;
        background-color: transparent;
        padding: 4px 0px 4px 8px;
        cursor: pointer;
    }
}

//header-item-action-login
.header-item-action-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 17%;
    z-index: 999;

    .btn-message,
    .btn-mail-box,
    .btn-person {
        height: 26px;
        font-size: 2rem;
        padding: 0px;
        min-width: 20px;
        background-color: transparent;
    }

    .btn-mail-box,
    .btn-message {
        font-size: 2.2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .btn-person img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }
}

@media only screen and (max-width: 739px) {
    .more-btn {
        margin-right: 12px;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1239px) {
}
