.container {
    margin-top: 32px;
}

@media only screen and (max-width: 739px) {
    .container {
        margin-top: 12px;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .container {
        margin-top: 16px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .container {
        margin-top: 20px;
    }
}
