.wrapper {
    margin-top: 52px;
}

.content {
    margin-top: 12px;
    cursor: pointer;
}

.img {
    padding-right: 4px;
    border-radius: 8px;
}

@media only screen and (max-width: 739px) {
    .img {
        padding-right: 0px;
    }
}
