.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: var(--width-layout);
    min-height: 100px;
    margin-top: var(--layout-header-height);
    // background-color: gray;
}

// .container-content {
//     flex: 1;
// }
